/*SECTION EQP */

#team {
    padding: 40px 20px;
    background-color: #1e1e1e;
    color: #ffffff;
}

#team h2 {
    text-align: center;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team-card {
    background: #2e2e3e;
    border: 1px solid #7a5cff;
    padding: 20px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
}

.team-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.team-card .role {
    color: #bba7ff;
    margin-bottom: 10px;
}

/*SECTION PROJETS*/

#projects {
    padding: 40px 20px;
    background-color: #1e1e1e;
}

#projects h2 {
    text-align: center;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background: #2e2e3e;
    border: 1px solid #7a5cff;
    padding: 20px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}